<div class="card-header">
    <div class="row">
        
        
      
        
        
        <input class="form-control col-sm-6 search-blog pull-right" type="text" [(ngModel)]="searchInput" placeholder="Search">

        <!-- Switcher -->
        <button *ngIf="isDraftPage === false" class="col btn btn-success crtBtn" (click)="getBlogDraft()">Open Drafts</button>
        <button *ngIf="isDraftPage === true" class="col btn btn-success crtBtn" (click)="getBlogs()">Open Blogs</button>
        <button class="col btn btn-success crtBtn" (click)="openModal(content,'')">Create new post</button>
        

    </div>
</div>

<div class="card-body">
        <table class="table fixed_header">
                <thead>
                  <tr>                  
                    
                    <th scope="col">Title</th>
                    <th scope="col">{{isDraftPage ? "Last Update":"Date Posted"}}</th>
                    <ng-container *ngIf="isDraftPage === false">
                      <th scope="col">Date Approved</th>
                      <th scope="col">Status</th>
                    </ng-container>
                    <th scope="col">
                      <select  *ngIf="onPage==='User'" class="btn btn-info dropdown-toggle filter-status col" [(ngModel)]="filterId">
        
                          <option>All</option>
                          <option>Approved</option>
                          <option >Returned</option>
                
                      </select>
                    </th>
                   
                  </tr>
                </thead>
                <tbody>
                  
                    <tr class="blogItems" *ngFor="let blogItem of blogData" >
                      <ng-container *ngIf="filterId === blogItem.status || onPage==='Draft' || filterId === 'All'"> 
                        <ng-container *ngIf="blogItem.status != 'For Approval' && blogItem.author === user"> 
                          <ng-container *ngIf="blogItem.title.toUpperCase().includes(searchInput.toUpperCase())">                     
                          <td>       
                            <button class="close" (click)="deleteBlog(blogItem.id)" style="float: left;" >                            
                                <span aria-hidden="true">&times;</span>
                            </button>  
                            <strong>{{ blogItem.title }}</strong>                      
                          </td>
                          <td>{{ blogItem.date }}</td>
                          <ng-container *ngIf="isDraftPage === false">
                            <td>{{ blogItem.dateApproved }}</td>
                            <td>{{ blogItem.status }}</td>
                        </ng-container>
                        <td>                          
                          <button class="btn btn-primary" (click)="openModal(content,blogItem)" >Open</button>
                        </td>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                      
                    </tr>

                    
                  
                  
                </tbody>
              </table>
</div>

<ng-template #content let-modal>
  <app-modal-blog (messageOutput)="getChildMessage($event)" (closeModal)="closeModal($event)" (getBlogs)="getBlogs($event)" [data]="blogObject" [onPage]="onPage"></app-modal-blog>
</ng-template>

<app-messages [message]="childMessage" [messageCount]="messageCount"></app-messages>


