<div class="card-header">
    <div class="row">
        <button class="col btn btn-success crtBtn" (click)="openModal(content)">Create new post</button>
        <input class="form-control col-sm-6 search-blog pull-right" type="text"  placeholder="Search">
        <select class="btn btn-info dropdown-toggle filter-status col"required>
                <option selected>Approved</option>
                <option >For Approval</option>
                <option >Rejected</option>
        </select>

    </div>
</div>

<div class="card-body">
        <table class="table fixed_header">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date Posted</th>
                    <th scope="col">Date Approved</th>
                    <th scope="col">Status</th>
                   
                  </tr>
                </thead>
                <tbody>
                  
                    <tr class="blogItems" *ngFor="let blogItem of blogData">
                      <td>
                          <button class="close" (click)="deleteBlog(blogItem.id)" style="float: none;" >
                              <span aria-hidden="true">&times;</span>
                          </button>  
                      </td>
                      <th scope="row">{{ blogItem.id }}</th>
                      <td>{{ blogItem.title }}</td>
                      <td>{{ blogItem.author }}</td>
                      <td>{{ blogItem.date }}</td>
                      <td>{{ blogItem.dateApproved }}</td>
                      <td>{{ blogItem.status }}</td>
                      
                    </tr>

                    
                  
                  
                </tbody>
              </table>
</div>

<ng-template #content let-modal>
    <app-modal-blog (closeModal)="closeModal($event)" (getBlogs)="getBlogs($event)"></app-modal-blog>
</ng-template>
