<form [formGroup]= "blogForm">
    <div class="modal-blog">
        <div class="modal-header">
            <h4 class="modal-title"><input type="text" class="form-control" formControlName = "title" placeholder="Add a Title"></h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
                <textarea class="form-control" formControlName="content" rows="8" placeholder="Content Area"></textarea>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success"  >Save as Draft</button>
            <button type="button" class="btn btn-success" (click)="addBlog()">Submit for Approval</button>
        </div>
        
    </div>
</form>